# Core data handling
numpy
pandas
plotly>=5.0.0
# Visualization
matplotlib
seaborn
wordcloud

# Machine Learning
scikit-learn

# NLP
nltk

# Deep Learning (includes Keras)
tensorflow

# Utilities
tqdm
joblib

# Notebooks & App
notebook
streamlit
